<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://github.com/user-attachments/assets/a1dce9fe-507c-410d-9e4d-142d8b4cef13">
    <title>Cs2API</title>
</head>
<body>
<header>
    <h1>Welcome to cs2api!</h1>
</header>
<home>
    <div class="container">
        <div class="info">
            <!-- NOTE! -->
            <!-- change that localhost example links for production!-->
            <p>To access all skins: <a href="skins"> cs2api/skins </a></p>
            <p>To access skin by id: <a href="skins/search?id=1"> cs2api/skins/search?id=1 </a></p>
            <p>To access skin by name: <a href="skins/search/n?name=Duality"> cs2api/skins/search/n?name=Duality </a></p>
            <p>To access list of all collections: <a href="collections"> cs2api/collections </a></p>
            <p>To access specific collection: <a href="collections/search/n?name=Revolution Case"> cs2api/collections/search/n?name=Revolution Case </a></p>
            <p>to drop skin from collection/case: <a href="skins/drop/n?collection=Revolution Case">/cs2api/skins/drop/n?collection=Revolution Case </a></p>
        </div>
    </div>
</home>
<style>
    html{
        font-size: 16px;
        font-family: Arial, sans-serif;
    }
    .class{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    a{
        text-decoration: none;
        color: blue;
        font-size: 18px;
        font-weight: bold;
    }
</style>
</body>
</html>
