<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cs2API</title>
</head>
<body>
<header>
    <h1>Welcome to cs2api!</h1>
</header>
<home>
    <div class="container">
        <div class="info">
            <!-- NOTE! -->
            <!-- change that localhost example links for production!-->
            <p>To access all skins: <a href="cs2api/skins"> /cs2api/skins </a></p>
            <p>To access skin by id: <a href="cs2api/skins/search?id=1"> /cs2api/skins/search?id=1 </a></p>
            <p>To access list of all collections: <a href="cs2api/collections"> /cs2api/collections </a></p>
            <p>To access specific collection: <a href="cs2api/collections/kilowatt"> /cs2api/collections/kilowatt </a></p>
            <p>To access skin by name: <a href="/cs2api/skins/search/n?name=M4A1-S | Vaporwave"> /cs2api/skins/search/n?name=M4A1-S | Vaporwave </a> %20 is a space placeholder.</p>
        </div>
        <img alt="c2api" src="https://private-user-images.githubusercontent.com/121515528/388494649-a1dce9fe-507c-410d-9e4d-142d8b4cef13.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzIyNjgwODQsIm5iZiI6MTczMjI2Nzc4NCwicGF0aCI6Ii8xMjE1MTU1MjgvMzg4NDk0NjQ5LWExZGNlOWZlLTUwN2MtNDEwZC05ZTRkLTE0MmQ4YjRjZWYxMy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMTIyJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTEyMlQwOTI5NDRaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1hY2I2OGFjZDI5ZDEwMDg0YTU2YzdlNDRlNWM4NmVmZmI5MDNkMGMxMjllZDk0NzEzMzEwNmQ2ZTBjNjM2ODFmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.WWc8ekKqGO7mZfQzvTci8YudMwWY_w8W7ALWuQXNLtc">
    </div>
</home>
<style>
    .class{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    a{
        text-decoration: none;
        color: blue;
        font-size: 18px;
        font-weight: bold;
    }
</style>
</body>
</html>
